.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
  position: relative;
  width: 350px;
  height: 70%;
  color: rgb(147, 149, 151);
  backdrop-filter: blur(5px);
  box-shadow: 3px 25px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(245, 223, 77, 0.1);
  border-right: 2px solid rgba(245, 223, 77, 0.2);
  border-bottom: 2px solid rgba(245, 223, 77, 0.2);
  border-radius: 10px;
  transition: 0.5s all;
  background: linear-gradient(
    180deg,
    rgba(245, 223, 77, 0.3) 0%,
    rgba(240, 238, 233, 0.4) 20%
  );
}

.wrapper:hover {
  transform: translateY(-2px);
  box-shadow: 1px 28px 12px rgba(0, 0, 0, 0.15);
}

.title {
  overflow: hidden;
  font-size: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text {
  height: 60%;
  width: 100%;
  position: relative;
  border-radius: 5px;
  margin: 10px 0;
  resize: none;
  overflow: hidden;
  word-break: break-all;
  /* white-space: nowrap; */
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
  border: 1px solid rgba(207, 92, 120, 0.4);
}

p {
  max-height: 100%;
  white-space: wrap;
  word-break: break-all;
  overflow: hidden;
  text-overflow: ellipsis;
}
